
@use "../../assets/styles/vars.scss";


.Pseudo_Body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

}

.ad-Left{
  width: 160px;
  height: 600px;
  margin: 2rem 0 0 2rem;
  background-color: #f2f2f2;
}

//defini la taille de la page
.page-container{
  margin: 2rem 4rem;
  width: 70%; 
}

.search-and-option-container{
  padding: 0 0 0 0;
 border: 1px solid vars.$green-main;
 border-radius: 0.5rem;
}

/*la search-bar*/
.search-bar_container {
  display: flex;
  justify-items: center;
  margin: 1rem 0 0 0;
}

.search-bar {
  margin: 0.5rem auto 0 auto;
  font-size: 1.2rem;
  border: solid 1px vars.$green-main;
  border-radius: 0.5rem;
  padding: 0.3rem 0.8rem;
}

.search_filter {
  display: flex;
  flex-direction: row;
  margin: 1rem 8rem 0 8rem;
  justify-content: space-around;
}

.search_option {
  border: solid 1px black;
  border-radius: 0.5rem;
  padding: 0.3rem 1rem;
  margin: 0 0 1rem 0;
}

.number-results {
  margin: 1rem 0 1rem 2rem;
  background-color: white;
font-style: italic;
}

.card-animal{
  border: solid 1px vars.$green-main;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;

}

.img1{
  width: 13%;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.selection-1{
  margin: 1.2rem 0 0 0;
}

.name-espece-container{
  display: flex;
  flex-direction: row;
}

.animal-name{
  display: block;
  font-size: 1.8rem;
  margin: 0 1rem 0 4rem;
  font-weight: 600;
}

.animal-sort{
  margin: 0.6rem 0 0 0;
}

.animal-underSort{
  margin: 0.6rem 0 0 1rem;
}

.biome-pays-regime{
  display: flex;
  flex-direction: column;
  margin: 1rem 0 0 4rem;
}

.contenaire-info{
  margin: 0 0 1rem 0;
}

.icone{
  width: 2rem;
  margin: 0 0 0 0;
}

.info-name{
  position: relative;
  margin:  0 0 1rem 1rem;
  bottom: 0.8rem;
}

.ad-droit{
  background-color: #f2f2f2;
  width: 160px;
  height: 600px;
  margin: 2rem 0 0 0;
}

